<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!--Css Doodle-->
    <script src="https://unpkg.com/css-doodle@0.8.5/css-doodle.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    {{fontawesome_html()}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
     <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    {% if title %}
        <title>C.U.B.E VIT - {{ title }}</title>
    {% else %}
        <title>C.U.B.E VIT</title>
    {% endif %}
</head>
<body>
    
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand mr-8" href="/" style="font-weight: 600;">C.U.B.E VIT</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
             
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About Us</a>
              <a class="nav-item nav-link" href="{{ url_for('team') }}">Team</a>
              <a class="nav-item nav-link" href="{{ url_for('event') }}">Events</a>
              <a class="nav-item nav-link" href="#contact">Contact Us</a>
            </div>
          </div>
        </div>
      </nav>
   
    {% block content %}
    {% endblock content %}
    <footer id="contact" data-aos="zoom-in" data-aos-duration="1000">
        <div class="container footer">
          <ul class="footer">
            <h2>CONTACT US</h2>
            <p class="dash" style="width: 13em;"></p>
            <div style="margin-top: 2em;padding-bottom: 10px;">
              <li>vitcubeclub@gmail.com</li>
              <li>+91 6303618891</li>
            </div>
            <div style="margin-bottom: 10px;">
              <a href="{{url_for('contform')}}"><button class="btn" style="background-color: rgb(96, 86, 158);color:white" >Send Message</button></a>
            </div>
            <div style="display: flex;justify-content: center;">
              
              <a href="https://www.facebook.com/c.u.b.e.VITclub"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
              <a href="https://www.instagram.com/c.u.b.e_vit/"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/company/c-u-b-e-vit/"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
              <a href="https://www.youtube.com/channel/UCs3Xm3u_hXLxnGcYzEIALcA"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
              
            </div>
           
          </ul>
        </div>
      </footer>
     
       
     
      
  
  
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
      <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     
      <script src="{{ url_for('static', filename='main.js') }}"></script>
      <script src="{{ url_for('static', filename='main1.js') }}"></script>
    
      </body>
  </html>